In [43]:
import pandas as pd

In [101]:
col_names = ['Well', 'Date', 'Gas - Mcf', 'Cond. - bpd', 'Water - bpd', 
             'Comment1', 'Comment2', 'Comment3', 'Artif Lift']
xl_wells = pd.DataFrame(columns=col_names)

In [102]:
xl_wells.head()

Empty DataFrame
Columns: [Well, Date, Gas - Mcf, Cond. - bpd, Water - bpd, Comment1, Comment2, Comment3, Artif Lift]
Index: []

In [103]:
xl_wells.shape

(0, 9)

In [104]:
new_row = {'Well': 1,
 'Artif Lift': 'gaslift',
 'Date': '12/1/2019',
 'Gas - Mcf': 12,
 'Cond. - bpd': 12,
 'Water - bpd': 17,
 'Comment1': 'nada',
 'Comment2': 'nada2',
 'Comment3': 'nada3'}

In [105]:
new_row

{'Well': 1,
 'Artif Lift': 'gaslift',
 'Date': '12/1/2019',
 'Gas - Mcf': 12,
 'Cond. - bpd': 12,
 'Water - bpd': 17,
 'Comment1': 'nada',
 'Comment2': 'nada2',
 'Comment3': 'nada3'}

In [106]:
rows = []
rows.append(new_row)

In [107]:
rows

[{'Well': 1,
  'Artif Lift': 'gaslift',
  'Date': '12/1/2019',
  'Gas - Mcf': 12,
  'Cond. - bpd': 12,
  'Water - bpd': 17,
  'Comment1': 'nada',
  'Comment2': 'nada2',
  'Comment3': 'nada3'}]

In [112]:
xl_wells = pd.concat([pd.DataFrame.from_dict(rows, orient='columns'), xl_wells], axis=0, sort=False).reset_index(drop=True)
xl_wells.head()

,Artif Lift,Comment1,Comment2,Comment3,Cond. - bpd,Date,Gas - Mcf,Water - bpd,Well
0,gaslift,nada,nada2,nada3,12,12/1/2019,12,17,1
1,gaslift,nada,nada2,nada3,12,12/1/2019,12,17,1
2,gaslift,nada,nada2,nada3,12,12/1/2019,12,17,1
3,gaslift,nada,nada2,nada3,12,12/1/2019,12,17,1

In [110]:
xl_wells

,Artif Lift,Comment1,Comment2,Comment3,Cond. - bpd,Date,Gas - Mcf,Water - bpd,Well
0,gaslift,nada,nada2,nada3,12,12/1/2019,12,17,1
1,gaslift,nada,nada2,nada3,12,12/1/2019,12,17,1